*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: gray;
}

.container img {
  display: block;
  margin: auto;
}

@media (max-width: 992px) {
  body {
    margin-top: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/* Style for the scroll up button */
#scrollUp {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#scrollUp:hover {
  background-color: #0056b3;
}
